In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [89]:
df = pd.read_excel("flight_delay.xlsx")

In [91]:
df.head()

,Flight_Distance_km,Departure_Hour,Arrival_Hour,Temperature_C,Wind_Speed_kmph,Humidity_Percent,Previous_Delays,Passenger_Count,Airline,Weather_Condition,Day_Type,Airport,Flight_Type,Delayed
0,4649,17,20,-8.307988,46.342526,48.573920,3,234,Vistara,Storm,Weekend,Chennai,Domestic,1
1,8639,16,12,-1.251429,54.158641,32.891774,9,149,AirAsia,Cloudy,Weekend,Delhi,International,1
2,7323,18,15,8.046501,61.478882,48.683602,0,241,SpiceJet,Fog,Weekday,Hyderabad,Domestic,0
3,9923,16,5,28.490917,3.452041,28.991237,9,77,GoAir,Fog,Weekday,Mumbai,International,0
4,8098,20,4,11.647000,10.233365,87.970632,9,80,IndiGo,Storm,Weekday,Delhi,International,0

In [93]:
df.shape

(1000, 14)

In [95]:
df.dtypes

Flight_Distance_km      int64
Departure_Hour          int64
Arrival_Hour            int64
Temperature_C         float64
Wind_Speed_kmph       float64
Humidity_Percent      float64
Previous_Delays         int64
Passenger_Count         int64
Airline                object
Weather_Condition      object
Day_Type               object
Airport                object
Flight_Type            object
Delayed                 int64
dtype: object

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Flight_Distance_km  1000 non-null   int64
 1   Departure_Hour      1000 non-null   int64
 2   Arrival_Hour        1000 non-null   int64
 3   Temperature_C       1000 non-null   float64
 4   Wind_Speed_kmph     1000 non-null   float64
 5   Humidity_Percent    1000 non-null   float64
 6   Previous_Delays     1000 non-null   int64
 7   Passenger_Count     1000 non-null   int64
 8   Airline             1000 non-null   object
 9   Weather_Condition   1000 non-null   object
 10  Day_Type            1000 non-null   object
 11  Airport             1000 non-null   object
 12  Flight_Type         1000 non-null   object
 13  Delayed             1000 non-null   int64
dtypes: float64(3), int64(6), object(5)
memory usage: 109.5+ KB

In [99]:
df.describe()

,Flight_Distance_km,Departure_Hour,Arrival_Hour,Temperature_C,Wind_Speed_kmph,Humidity_Percent,Previous_Delays,Passenger_Count,Delayed
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,4977.06400,11.448000,11.615000,17.463391,39.691080,59.479765,4.65600,202.099000,0.484000
std,2825.60538,6.879435,6.943701,15.784087,22.869972,22.972461,2.92202,86.226645,0.499994
min,114.00000,0.000000,0.000000,-9.936024,0.002979,20.001707,0.00000,50.000000,0.000000
25%,2497.00000,6.000000,6.000000,3.844690,19.827370,39.306857,2.00000,133.750000,0.000000
50%,5012.00000,11.000000,11.000000,17.371427,40.284455,60.451638,5.00000,199.000000,0.000000
75%,7373.00000,17.000000,18.000000,31.235138,59.262836,78.790665,7.00000,280.250000,1.000000
max,9985.00000,23.000000,23.000000,44.981424,79.823020,99.944593,9.00000,349.000000,1.000000

In [101]:
df.isnull().sum()

Flight_Distance_km    0
Departure_Hour        0
Arrival_Hour          0
Temperature_C         0
Wind_Speed_kmph       0
Humidity_Percent      0
Previous_Delays       0
Passenger_Count       0
Airline               0
Weather_Condition     0
Day_Type              0
Airport               0
Flight_Type           0
Delayed               0
dtype: int64

In [103]:
df.duplicated().sum()

0

In [105]:
df.columns

Index(['Flight_Distance_km', 'Departure_Hour', 'Arrival_Hour', 'Temperature_C',
       'Wind_Speed_kmph', 'Humidity_Percent', 'Previous_Delays',
       'Passenger_Count', 'Airline', 'Weather_Condition', 'Day_Type',
       'Airport', 'Flight_Type', 'Delayed'],
      dtype='object')

In [107]:
X = df[['Flight_Distance_km', 'Departure_Hour', 'Arrival_Hour', 'Temperature_C',
       'Wind_Speed_kmph', 'Humidity_Percent', 'Previous_Delays',
       'Passenger_Count', 'Airline', 'Weather_Condition', 'Day_Type',
       'Airport', 'Flight_Type']]

In [109]:
y = df["Delayed"]

In [111]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [113]:
X_train

,Flight_Distance_km,Departure_Hour,Arrival_Hour,Temperature_C,Wind_Speed_kmph,Humidity_Percent,Previous_Delays,Passenger_Count,Airline,Weather_Condition,Day_Type,Airport,Flight_Type
82,3362,15,13,-2.542320,45.771029,79.166239,4,299,GoAir,Fog,Weekend,Delhi,International
991,1755,2,12,26.028276,79.429066,28.463309,5,326,IndiGo,Clear,Weekday,Hyderabad,Domestic
789,8930,6,11,25.072461,68.764321,72.795877,6,225,Air India,Cloudy,Weekday,Kolkata,Domestic
894,7959,1,10,-9.563685,42.963229,73.118966,5,88,Vistara,Cloudy,Weekend,Kolkata,Domestic
398,9168,8,9,36.719654,70.503543,60.617331,4,90,GoAir,Clear,Weekend,Bangalore,International
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,4414,3,14,36.646344,2.526836,25.642716,7,196,IndiGo,Cloudy,Weekend,Hyderabad,International
270,4369,9,20,-5.780454,32.748116,70.256813,5,233,GoAir,Cloudy,Weekday,Chennai,Domestic
860,1666,16,16,42.247626,67.469306,44.775756,1,119,IndiGo,Cloudy,Weekend,Chennai,Domestic
435,7356,10,5,21.524826,59.898525,83.945215,2,302,GoAir,Fog,Weekend,Kolkata,International
102,221,4,18,-5.803433,60.995343,67.191219,8,244,Air India,Storm,Weekday,Delhi,Domestic

In [115]:
X_train_cat = X_train[["Airline","Weather_Condition","Day_Type"	,"Airport","Flight_Type"]]

X_train_num = X_train[["Flight_Distance_km",
                      "Departure_Hour",	"Arrival_Hour",
                      "Temperature_C",	
                      "Wind_Speed_kmph" ,
                      "Humidity_Percent",	
                      "Previous_Delays",
                      "Passenger_Count"]]

In [117]:
from sklearn.preprocessing import LabelEncoder

X_train_cat_transformed = pd.DataFrame(index=X_train_cat.index)

for col in X_train_cat.columns:
    le = LabelEncoder()
    X_train_cat_transformed[col] = le.fit_transform(X_train_cat[col].astype(str))

In [119]:
X_train_cat_transformed

     Airline  Weather_Condition  Day_Type  Airport  Flight_Type
82         2                  2         2        2            1
991        3                  0         1        3            0
789        0                  1         1        4            0
894        5                  1         2        4            0
398        2                  0         2        0            1
..       ...                ...       ...      ...          ...
106        3                  1         2        3            1
270        2                  1         1        1            0
860        3                  1         2        1            0
435        2                  2         2        4            1
102        0                  4         1        2            0

[750 rows x 5 columns]

In [121]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

scaler = StandardScaler()

X_train_num_transformed = pd.DataFrame(
    scaler.fit_transform(X_train_num),
    columns=X_train_num.columns,
    index=X_train_num.index
)

In [123]:
X_train_num_transformed

,Flight_Distance_km,Departure_Hour,Arrival_Hour,Temperature_C,Wind_Speed_kmph,Humidity_Percent,Previous_Delays,Passenger_Count
82,-0.591064,0.528320,0.201329,-1.261065,0.248737,0.872941,-0.238529,1.107748
991,-1.163861,-1.385883,0.054872,0.543143,1.742054,-1.335966,0.104843,1.420589
789,1.393586,-0.796898,-0.091584,0.482784,1.268888,0.595412,0.448215,0.250334
894,1.047484,-1.533130,-0.238041,-1.704458,0.124163,0.609487,0.104843,-1.337041
398,1.478419,-0.502405,-0.384498,1.218294,1.346053,0.064845,-0.238529,-1.313868
...,...,...,...,...,...,...,...,...
106,-0.216091,-1.238637,0.347786,1.213664,-1.669891,-1.458847,0.791588,-0.085680
270,-0.232130,-0.355158,1.226526,-1.465550,-0.329054,0.484795,0.104843,0.343027
860,-1.195584,0.675567,0.640699,1.567380,1.211432,-0.625304,-1.268646,-0.977854
435,0.832552,-0.207912,-0.970325,0.258754,0.875536,1.081140,-0.925274,1.142508
102,-1.710638,-1.091390,0.933613,-1.467002,0.924199,0.351241,1.134960,0.470481

In [125]:
X_train_transformed = pd.concat([X_train_cat_transformed,X_train_num_transformed],axis=1)

In [127]:
X_train_transformed

,Airline,Weather_Condition,Day_Type,Airport,Flight_Type,Flight_Distance_km,Departure_Hour,Arrival_Hour,Temperature_C,Wind_Speed_kmph,Humidity_Percent,Previous_Delays,Passenger_Count
82,2,2,2,2,1,-0.591064,0.528320,0.201329,-1.261065,0.248737,0.872941,-0.238529,1.107748
991,3,0,1,3,0,-1.163861,-1.385883,0.054872,0.543143,1.742054,-1.335966,0.104843,1.420589
789,0,1,1,4,0,1.393586,-0.796898,-0.091584,0.482784,1.268888,0.595412,0.448215,0.250334
894,5,1,2,4,0,1.047484,-1.533130,-0.238041,-1.704458,0.124163,0.609487,0.104843,-1.337041
398,2,0,2,0,1,1.478419,-0.502405,-0.384498,1.218294,1.346053,0.064845,-0.238529,-1.313868
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,3,1,2,3,1,-0.216091,-1.238637,0.347786,1.213664,-1.669891,-1.458847,0.791588,-0.085680
270,2,1,1,1,0,-0.232130,-0.355158,1.226526,-1.465550,-0.329054,0.484795,0.104843,0.343027
860,3,1,2,1,0,-1.195584,0.675567,0.640699,1.567380,1.211432,-0.625304,-1.268646,-0.977854
435,2,2,2,4,1,0.832552,-0.207912,-0.970325,0.258754,0.875536,1.081140,-0.925274,1.142508
102,0,4,1,2,0,-1.710638,-1.091390,0.933613,-1.467002,0.924199,0.351241,1.134960,0.470481

In [131]:
X_test_cat = X_test.select_dtypes(include=["object"])

In [133]:
X_test_cat

       Airline Weather_Condition Day_Type    Airport    Flight_Type
521      GoAir              Rain  Weekend    Chennai  International
737    Vistara               Fog  Weekend      Delhi       Domestic
740    AirAsia            Cloudy  Weekday    Kolkata  International
660    Vistara            Cloudy  Holiday  Hyderabad  International
411    AirAsia               Fog  Holiday  Bangalore       Domestic
..         ...               ...      ...        ...            ...
109      GoAir             Clear  Weekend    Chennai  International
430  Air India             Clear  Weekday    Chennai       Domestic
77     AirAsia              Rain  Weekday  Hyderabad  International
84     AirAsia               Fog  Weekday      Delhi       Domestic
286     IndiGo            Cloudy  Weekday  Bangalore  International

[250 rows x 5 columns]

In [135]:
X_test_cat = X_test.select_dtypes(include=['object'])
X_test_num = X_test.select_dtypes(include=['int64', 'float64'])

In [137]:
X_test_num_transformed = pd.DataFrame(scaler.transform(X_test_num), 
                                   columns = scaler.get_feature_names_out(), 
                                   index = X_test_num.index)

X_test_num_transformed.head()

,Flight_Distance_km,Departure_Hour,Arrival_Hour,Temperature_C,Wind_Speed_kmph,Humidity_Percent,Previous_Delays,Passenger_Count
521,0.421578,1.117306,0.933613,0.297557,-0.625545,0.813351,-0.925274,-0.329000
737,-0.011138,-1.238637,-1.702609,0.671395,1.075219,-1.162480,1.134960,0.748561
740,-1.395546,-1.533130,-1.116782,0.632986,1.639247,-0.805135,1.478332,1.675496
660,-1.065128,0.086581,1.519440,-0.936360,0.726403,0.149503,-0.925274,1.038228
411,0.245497,-1.680376,-0.384498,0.388400,1.667200,1.697808,1.478332,0.053361

In [139]:

X_test_cat_transformed = pd.DataFrame(index=X_test_cat.index)

for col in X_test_cat.columns:
    le = LabelEncoder()
    le.fit(X_train_cat[col].astype(str)) 
    X_test_cat_transformed[col] = le.transform(X_test_cat[col].astype(str))

X_test_cat_transformed.head()

     Airline  Weather_Condition  Day_Type  Airport  Flight_Type
521        2                  3         2        1            1
737        5                  2         2        2            0
740        1                  1         1        4            1
660        5                  1         0        3            1
411        1                  2         0        0            0

In [141]:
X_test_transformed = pd.concat([X_test_cat_transformed,X_test_num_transformed],axis=1)

In [143]:
X_test_transformed

,Airline,Weather_Condition,Day_Type,Airport,Flight_Type,Flight_Distance_km,Departure_Hour,Arrival_Hour,Temperature_C,Wind_Speed_kmph,Humidity_Percent,Previous_Delays,Passenger_Count
521,2,3,2,1,1,0.421578,1.117306,0.933613,0.297557,-0.625545,0.813351,-0.925274,-0.329000
737,5,2,2,2,0,-0.011138,-1.238637,-1.702609,0.671395,1.075219,-1.162480,1.134960,0.748561
740,1,1,1,4,1,-1.395546,-1.533130,-1.116782,0.632986,1.639247,-0.805135,1.478332,1.675496
660,5,1,0,3,1,-1.065128,0.086581,1.519440,-0.936360,0.726403,0.149503,-0.925274,1.038228
411,1,2,0,0,0,0.245497,-1.680376,-0.384498,0.388400,1.667200,1.697808,1.478332,0.053361
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2,0,2,1,1,1.671252,-1.533130,1.226526,-0.320431,0.120701,-0.203422,0.448215,0.957121
430,0,0,1,1,0,1.050336,-0.207912,-1.409695,-1.263239,0.019080,-0.176934,-0.581902,0.806495
77,1,3,1,3,1,0.462568,1.559045,1.519440,0.802726,0.670730,-1.536995,-0.238529,0.876015
84,1,2,1,2,0,1.031088,-0.355158,1.226526,1.081514,1.385063,-1.134309,-0.238529,-1.244348
286,3,1,1,0,1,0.132506,0.822813,-0.530955,1.484180,-1.409398,1.618842,0.791588,0.261921

In [158]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=1000, random_state=42)

model.fit(X_train_transformed,y_train)

LogisticRegression(max_iter=1000, random_state=42)

In [160]:
y_pred = model.predict(X_test_transformed)

In [162]:
from sklearn.metrics import accuracy_score

accuracy_score(y_pred,y_test)

0.476

In [168]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

model = RandomForestClassifier()

model.fit(X_train_transformed,y_train)

y_pred = model.predict(X_test_transformed)


accuracy_score(y_pred,y_test)

0.528

In [170]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

model = DecisionTreeClassifier()

model.fit(X_train_transformed,y_train)

y_pred = model.predict(X_test_transformed)


accuracy_score(y_pred,y_test)

0.544